/* fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.manrope-regular {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Shared Style */

* {
    margin: 0px;
    padding: 0px;
}

.btn-primary {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 2px;
}


:root {
    --theme-color: #E02C6D;
    --black01: #3A3A3A;
    --product-name-fs: 1.75rem;
    --product-name-fc: #18191F;
    --product-price-fs: 1.5rem;
    --product-price-fc: rgba(0, 0, 0, 0.87);
    --product-rt-des-fs: 0.875rem;
    --product-rt-fc: #5E6366;
    --product-des-fc: #787885;
}



/* nav-bar style */

.top-logo {
    color: var(--black01);
}


.bars {
    display: none;
}

.cart-for-sm {
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--black01);
}

nav ul li {
    list-style: none;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 95px 120px 0;
}


.nav-options ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: 600;
}

/* banner-style */

.banner-heading {
    font-size: 3.25rem;
    font-weight: bold;
    color: var(--black01);
}

.banner-title {
    color: var(--black01);
    max-width: 505px;
    margin: 16px 0;
}

.banner-btn {
    margin-top: 16px;
    border-radius: 41px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto 0;
    padding: 0 10px;
    max-width: 1155px;
    background-image: url(../assets/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}


.banner-content {
    max-width: 582px;
}

/* partner section */

.partner {
    margin: 69px auto 0;
    max-width: 1110px;
    align-items: center;
    padding: 36px 62px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.partner img {
    margin: auto;
}

/* collection section */

.collection {
    max-width: 1047px;
    margin: 100px auto 0;
}

.collection-heading {
    text-align: center;
    font-size: var(--product-name-fs);
    color: var(--product-name-fc);
    margin-bottom: 30px;
}

.collection-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, calc((100% - 60px)/3));
}

.collection-card {
    padding: 17px 16px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.product-name {
    color: var(--product-name-fc);
    font-size: var(--product-name-fs);
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 6px;
}

.product-price {
    font-size: var(--product-price-fs);
    color: var(--product-price-fc);
    font-weight: bold;
}


.product-rating i {
    color: #FB8200;
    font-size: var(--product-rt-des-fs);
}

.product-rating {
    font-size: var(--product-rt-des-fs);
    color: var(--product-rt-fc);
    font-weight: bold;
}

.product-detail {
    color: var(--product-des-fc);
    font-size: var(--product-rt-des-fs);
    font-weight: bold;
    line-height: 143%;
}


/* see more button */

.see-more {
    color: var(--theme-color);
    border: none;
    font-weight: bold;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}


/* feature product */

.feature-product {
    max-width: 1110px;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 70px;
    align-items: center;
}

.feature-heading {
    font-size: 2.375rem;
    font-weight: bold;
    color: #0A0826;
}

.feature-description {
    font-weight: bold;
    line-height: 28px;
    color: var(--product-des-fc);
    margin: 16px 0;
    max-width: 501px;
}

.feature-product button {
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 24px;
}

/* footer section */

footer {
    padding: 50px 0;
    margin-top: 100px;
    background-color: #0A0826;
    display: flex;
}


.footer-content {
    margin: 0 auto;
    text-align: center;
}

.footer-content h2 {
    color: #FFFFFF;
    font-size: var(--product-price-fs);
    font-weight: bold;
}

.copyright {
    line-height: 24px;
    color: #D9DBE1;
    font-size: 1.14rem;
    font-weight: bold;
}

.rights {
    line-height: 24px;
    font-size: 1.14rem;
    color: #D9DBE1;
    font-weight: bold;
}

.social-icon {
    margin-top: 17px;
    display: flex;
    gap: 16px;
    justify-content: center;
    color: white;
}

.footer-content i {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 7.5px;
    border-radius: 50%;
}


/* resposive css for small device */

@media screen and (max-width: 576px) {

    /* nav-bar */
    .nav {
        margin: 35px 16px 0;
    }

    .bars {
        display: block;
    }

    .nav-options ul {
        display: none;
    }

    .cart-for-sm {
        display: block;
    }


    /* banner */
    .banner {
        flex-direction: column-reverse;
        margin: 10px auto 0;
        background-position: top center;
    }

    .banner img {
        margin: 51px 33px 16px 22px;
    }

    .banner-heading {
        font-size: var(--product-name-fs);
        text-align: center;
    }

    .banner-title {
        font-size: var(--product-rt-des-fs);
        margin-top: 15px;
        text-align: center;
    }

    .banner-btn {
        margin: 20px auto 0;
    }


    /* partner section */

    .partner {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* collection section */

    .collection-cards {
        grid-template-columns: 1fr;
        justify-items: center;
    }


    /* feature section */

    .feature-product{
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 10px;
        margin: 0 auto;
    }

    .feature-product img{
        margin: 0 auto;
        max-width: 100%;
        box-sizing: border-box;
    }

    .feature-heading {
        font-size: 1.5rem;
        text-align: center;
    }

    .feature-description {
        text-align: center;
    }

    .feature-product button {
        margin: 0 auto;
    }

}



/* responsive css for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav {
        margin: 20px 10px 0;
    }

    .nav h2 {
        font-size: 1.25rem;
    }

    .nav-options ul {
        font-size: 0.6rem;
        gap: 15px;
    }


    /* banner */
    .banner-heading {
        font-size: 1.5rem;
    }

    .banner-title {
        font-size: 0.6rem;
        color: var(--black01);
    }

    .banner-btn {
        font-size: 0.6rem;
        margin-top: 8px;
        border-radius: 20px;
    }

    .banner {
        margin: 40px auto 0;
        padding: 0 10px;
    }

    .banner img {
        max-width: 50%;
    }


}